<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
</head>
<body>
<a href="/login">Login</a>
<br>
<a href="/register">Registration</a>
<br>
<a href="/chatroom">Chatroom</a>
<br>
</body>
</html>
